@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #fce000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #fce000;
  }
}

body {
  color: #fff;
  background: var(--background);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}