@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #fce000;
  --background: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #fce000;
    --background: #121212;
  }
}

body {
  color: #000;
  background: #fff;
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.delivery-terms div:nth-child(2n + 1) {
  padding-right: 20px;
  padding-bottom: 15px;
  font-weight: bold;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.delivery-terms div:nth-child(2n) {
  padding-left: 10px;
  padding-bottom: 15px;
}
.delivery-terms div:nth-child(2n) {
  border-bottom: 1px solid black;
}

/* remove bottom border from last elements */
.delivery-terms div:last-child {
  border-bottom: none;
}
.delivery-terms > div:nth-child(9) {
  border-bottom: none;
}
